/* style.css - main styles */
html, body {
    height: 100%;
    font-family: Helvetica, sans-serif;
    color: #e3e3e3;
}

body {
    background: #000;
}

a {
    color: #e3e3e3;
    text-decoration: none;
}

a:hover {
    color: #E18A07;
}

section#main {
    height: auto;
    background: #fff;
    padding: 10px;
    width: 960px;
    margin: 0 auto;
    border-radius: 4px;
    margin-top: 7px;
}

.hidden {
    display: none;
}

.ajaxLoader {
    background: url(../assets/images/ajax_loader.gif) no-repeat center center;
}

.loginWrapper {
    min-height: 26px;
    min-width: 300px;
}

.loginWrapper #loginEmail, .loginWrapper #loginPass {
    margin: 0;
    padding: 2px 0px 2px 7px;
    font-size: 12px;
    background-color: #515151;
    border: 1px solid #5d5d5d;
    border-radius: 3px;
    color: #fff;
    width: 183px;
}

.loginWrapper #sbm_btn {
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #494949;
    padding: 2px 10px;
    background-color: #696969;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #696969 0%, #313131 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #696969), color-stop(100%, #313131));
    background: -webkit-linear-gradient(top, #696969 0%, #313131 100%);
    background: -o-linear-gradient(top, #696969 0%, #313131 100%);
    background: -ms-linear-gradient(top, #696969 0%, #313131 100%);
    background: linear-gradient(to bottom, #696969 0%, #313131 100%);
    border-top: #7a7a7a 1px solid;
    /*border-bottom: #080808 1px solid;*/
}

.loginWrapper #sbm_btn:hover {
    border-color: #808080;
}

.loginWrapper #loginFgpass {
    position: absolute;
    font-size: 12px;
    right: 0px;
    top: 29px;
}

header {
    margin: 0 auto;
    background: #0b0b0b;
}

#topHeader {
    padding: 10px;
    height: 60px;
    box-sizing: border-box;
    background: #1f1f1f;
    border: 1px solid #050505;
    border-bottom: none;
}

#topHeader .topHeader {
    width: 960px;
    margin: 0 auto;
}

#topHeader a.logo {
    display: inline-block;
    padding: 10px 50px;
    text-decoration: none;
    color: #f5f5f5;
    text-align: center;
    border: 1px solid #f5f5f5;
    line-height: 18px;
    font-size: 30px;
    font-weight: 700;
}

#topHeader .loginWrapper {
    float: right;
    margin-top: 7px;
    position: relative;
}

#topHeader .reg_button {
    display: inline-block;
}

#topHeader .reg_button a {
    padding: 6px 21px;
    border-radius: 4px;
    margin-right: 14px;
    color: #ffffff;

    background: #b5c176;
    background: -moz-linear-gradient(top, #b5c176 0%, #aab95e 23%, #87a00e 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #b5c176), color-stop(23%, #aab95e), color-stop(100%, #87a00e));
    background: -webkit-linear-gradient(top, #b5c176 0%, #aab95e 23%, #87a00e 100%);
    background: -o-linear-gradient(top, #b5c176 0%, #aab95e 23%, #87a00e 100%);
    background: -ms-linear-gradient(top, #b5c176 0%, #aab95e 23%, #87a00e 100%);
    background: linear-gradient(to bottom, #b5c176 0%, #aab95e 23%, #87a00e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b5c176', endColorstr='#87a00e', GradientType=0);
}

#topHeader .reg_button a:hover {
    background: #b5c176;
    background: -moz-linear-gradient(45deg, #b5c176 0%, #aab95e 23%, #87a00e 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, #b5c176), color-stop(23%, #aab95e), color-stop(100%, #87a00e));
    background: -webkit-linear-gradient(45deg, #b5c176 0%, #aab95e 23%, #87a00e 100%);
    background: -o-linear-gradient(45deg, #b5c176 0%, #aab95e 23%, #87a00e 100%);
    background: -ms-linear-gradient(45deg, #b5c176 0%, #aab95e 23%, #87a00e 100%);
    background: linear-gradient(45deg, #b5c176 0%, #aab95e 23%, #87a00e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b5c176', endColorstr='#87a00e', GradientType=1);
}

#topHeader .loginWrapper .regLink {
    font-size: 12px;
    color: #737373;
    text-decoration: none;
    padding-right: 10px;
}

#topHeader .loginWrapper .regLink:hover {
    text-decoration: underline;
}

#bottomHeader {
    box-sizing: border-box;
    height: 35px;
    margin: 0 auto;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 15px;
    font-family: arial, helvetica, sans-serif;
    padding: 0px 10px 10px 10px;
    text-decoration: none;
    /*display: inline-block;*/
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    font-weight: bold;
    color: #FFFFFF;
    background-color: #45484d;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#45484d), to(#000000));
    background-image: -webkit-linear-gradient(top, #45484d, #000000);
    background-image: -moz-linear-gradient(top, #45484d, #000000);
    background-image: -ms-linear-gradient(top, #45484d, #000000);
    background-image: -o-linear-gradient(top, #45484d, #000000);
    background-image: linear-gradient(to bottom, #45484d, #000000);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#45484d, endColorstr=#000000);

    border: #000 1px solid;
    box-shadow: inset 0 1px 1px #464646;
    background-color: #414141;
    /*z-index: -2;*/
    position: relative;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…IgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top, #666666 0%, #414141 5%, #343434 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #666666), color-stop(5%, #414141), color-stop(100%, #343434));
    background: -webkit-linear-gradient(top, #666666 0%, #414141 5%, #343434 100%);
    background: -o-linear-gradient(top, #666666 0%, #414141 5%, #343434 100%);
    background: -ms-linear-gradient(top, #666666 0%, #414141 5%, #343434 100%);
    background: linear-gradient(to bottom, #666666 0%, #414141 5%, #343434 100%);

}

#bottomHeader nav {
    display: block;
    text-align: center;
}

#bottomHeader nav ul {
    display: inline-block;
}

#bottomHeader nav ul li {
    display: inline-block;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

#bottomHeader nav ul li a {
    text-decoration: none;
    position: relative;
    display: block;
    padding: 3px 7px 0px 7px;
    color: #c9c9c9;
    font-weight: 400;
    font-size: 15px;
    line-height: 29px;
    height: 30px;
}

#bottomHeader nav ul li a:hover {
    color: #E18A07;
}

#bottomHeader nav ul li:hover {
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-color: #252525;
    background: #666666;
    background: -moz-linear-gradient(top, #666666 0%, #373737 4%, #252525 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #666666), color-stop(4%, #373737), color-stop(100%, #252525));
    background: -webkit-linear-gradient(top, #666666 0%, #373737 4%, #252525 100%);
    background: -o-linear-gradient(top, #666666 0%, #373737 4%, #252525 100%);
    background: -ms-linear-gradient(top, #666666 0%, #373737 4%, #252525 100%);
    background: linear-gradient(to bottom, #666666 0%, #373737 4%, #252525 100%);
}

.item {
    width: 25%;
    height: auto;
}

.item_image {
    position: relative;
}

.item_image img {
    width: 100%;
}

.item_image .likes_badge {
    position: absolute;
    background: #336600;
    right: 0;
    top: 15px;
    padding: 3px 5px;
    font-size: 14px;
}

.item_image a:hover {
    color: #fff;
}

.item_cont {
    margin: 12px;
    background: #f3f3f3;
    box-shadow: 0px 0px 3px 0px black;
    /*border: 1px solid transparent;*/
}

.item_cont:hover {
    /*border: 1px solid red;*/
    box-shadow: 0px 0px 8px 0px black;
    color: #fff;
}

.cont_text {
    color: #484848;
    min-height: 40px;
    margin-top: 6px;
    position: relative;
}

.pop_up {
    display: block;
    height: 300px;
    position: relative;
    color: white;
    text-align: center;
    overflow: hidden;
}

.text_data {
    font-size: 13px;
    text-align: left;
    margin-left: 10px;
}

.text_ava {
    position: absolute;
    bottom: 3px;
    margin-left: 11px;
    font-size: 12px;
}

.text_ava span {
    color: #000000;
    font-weight: bold;
}

#userpanel {
    min-height: 30px;
    min-width: 250px;
    float: right;
    position: relative;
    margin-top: 7px;
}

#userpanel li {
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
}

#userpanel li i {
    color: #999;
    font-size: 20px;
}

#userpanel li i:hover {
    color: #E18A07;
}

.signout {
    font-size: 13px;
    background: #999;
    padding: 1px 10px;
    color: #fff;
    vertical-align: top;
    top: 1px;
    position: relative;
}

.signout:hover {
    background: #E18A07;
    color: #fff;
}

.user_data_cont {
    font-size: 10px;
    position: relative;
    top: -15px;
    left: 27px;

}

.user_data {
    font-size: 17px;
    color: #90bd59;
}

.user_pic {
    display: block;
    width: 32px;
}

.user_pic img {
    width: 30px;
}

.user_name {
    text-decoration: underline;
    color: #E18A07;
}

.item_opened {
    position: absolute;
    z-index: 5000;
    display: block;
    top: 20px;
    width: 900px;
    left: 33px;
    background: #f3f3f3;
    border-radius: 5px;
}

.black_overlay {
    opacity: 0.9;
    cursor: pointer;
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    overflow: hidden;
    background: black;
    z-index: 4500;
}

.cont_wrap {
    display: inline-block;
    width: 650px;
}

.item_opened .item_cont{
    background: transparent;
    box-shadow: none;
}

.item_opened .user_data {
    display: inline-block;
    vertical-align: top;
}

.item_opened .text_data{
    margin-left: 0;
}

.comment_area{
    display: block;
    width: 475px;
    height: 50px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.comment_form{
    padding: 10px 0 14px 0px;
}

.item_opened .user_pic{
    display: inline-block;
}

.item_opened .user_name{
    display: inline-block;
    vertical-align: top;
}