/* style.css - main styles */
html, body{
    height: 100%;
    font-family: Helvetica, sans-serif;
    color: #737373;
}
section#main{
    height: 100%;
    background: #E5E5E5;
    padding: 30px;
}

.hidden{
    display: none;
}

.ajaxLoader{
    background: url(../assets/images/ajax_loader.gif) no-repeat center center;
}

.loginWrapper{
    min-height:26px;
    min-width: 300px;
}